.userImg{
    background-color: blue;
    width: 30%;
    height: 50.5vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imageField {
    border: solid 3px cadetblue;
    height: 70%;
    width: 85%;
    margin-bottom: 10px;
    text-align: center;
}

.userStats {
    height: 38%;
    background-color: aliceblue;
    display: grid;
}
.statsField {
    background-color: brown;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    color: antiquewhite;
    white-space: nowrap;
}
.statsProgress {
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: chocolate;
    width: 40%;
    color: rgba(0,255,255,0.8);
}
.statsProgress:hover{
    cursor: default;
}
.userEquipment {
    height: 105px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eqField {
    background-color: #80808091;
    width: 20%;
    margin: 15px;
    border: solid 2px #2b2424;
    height: 60%;
    border-radius: 5px;
}
.eqField:hover{
    cursor: pointer;
    opacity: 0.8;
}
.userLevel {
    background-color: #553838;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    border: solid 2px #284f02;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
.userLevel:hover{
    cursor: default;
}
.levelInfo {
    background-color: #4c9900;
    width: 20%;
    height: 100%;
    border-radius: 5px;
}
.levelNumb {
    position: absolute;
    left: 48%;
}
.userInfo {
    height: 200px;
    background-color: #a7b371;
    clear: both;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.personalInfo, .playerInfo {
    position: relative;
    top: 25px;
    left: 75px;
}
.infoField {
    padding: 7px;
}
#description{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#country:hover, #age:hover, #description:hover {
    cursor: pointer;
}
#moneyinfo {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Country form window */
.form{
    background-color: #284f02;
    color: orange;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.formWindow{
    background-color: #2b242483;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formElem{
    margin: 17px;
    padding: 3px;
}
.form p{
    font-size: 1.2em;
    margin: 5px;
}

#closeButt {
    position: absolute;
    right: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}
#closeButt:hover{
    cursor:pointer;
    opacity: 0.7;
    transform: scale(1.3);
}
#closeLeft {
  width: 5px;
  height: 18px;
  background-color: blue;
  transform: rotate(45deg) translateX(3px) translateY(-2px);
}
#closeRight {
    width: 5px;
    height: 18px;
    background: blue;
    transform: rotate(-45deg) translateX(-1px);
}

#descInput {
    resize: none;
    margin-bottom: 4px;
}
